* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #ffe6f0, #e0f7fa);
  animation: gradientShift 10s infinite alternate;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  color: #333;
  transition: background 2s ease-in-out;
}

@keyframes gradientShift {
  0% {
    background: linear-gradient(to right, #ffe6f0, #e0f7fa);
  }
  25% {
    background: linear-gradient(to right, #ffd6ec, #f8f9fa);
  }
  50% {
    background: linear-gradient(to right, #ffe6cc, #e6f2ff);
  }
  75% {
    background: linear-gradient(to right, #f9ccff, #ccf2ff);
  }
  100% {
    background: linear-gradient(to right, #ffe0f0, #e0e6ff);
  }
}

.countdown-container h1 {
  text-align: center;
  font-size: 1.8rem;
  color: #e60073;
  margin-bottom: 2rem;
}

#countdown {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 1.5rem;
}

#countdown div {
  background-color: #fff0f5;
  padding: 1rem;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 10px rgba(255, 0, 150, 0.2);
}

#countdown span {
  font-size: 2rem;
  color: #ff3399;
}

.birthday-surprise {
  display: none;
  text-align: center;
  animation: fadeIn 2s ease-in-out forwards;
  margin-top: 2rem;
}

.birthday-surprise h2 {
  color: #d1006c;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.birthday-surprise h2 span {
  color: #ff3399;
}

.typing-box {
  font-size: 1.3rem;
  color: #444;
  margin: 1rem auto;
  font-weight: 500;
  height: 80px;
  max-width: 90%;
  border-left: 3px solid #ff66b2;
  padding-left: 10px;
  overflow: hidden;
  white-space: nowrap;
}

.photo-card {
  background: #fff;
  border-radius: 20px;
  padding: 1rem;
  box-shadow: 0 10px 25px rgba(255, 105, 180, 0.2);
  max-width: 350px;
  margin: 1rem auto 2rem auto;
  cursor: pointer;
  transition: 0.4s ease;
}
.photo-card:hover {
  transform: translate3d(10px, 0px, 0px);
}

.photo-card img {
  max-width: 100%;
  border-radius: 15px;
  height: auto;
}

.music-btn {
  padding: 10px 20px;
  background-color: #ff66b2;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  font-family: Montserrat;
  transition: background 0.3s ease;
}

.music-btn:hover {
  background-color: #e60073;
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(30px); }
  100% { opacity: 1; transform: translateY(0); }
}

@media screen and (max-width: 600px) {
  #countdown {
    flex-direction: column;
    gap: 0.7rem;
  }

  .countdown-container h1 {
    font-size: 1.4rem;
  }

  .typing-box {
    font-size: 1.1rem;
  }
}
